*{
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://cdn.pixabay.com/photo/2016/09/02/04/40/wave-1638292_1280.jpg);
}

button{
  width: 100px;
  height: 60px;
  margin: 15px;
  color: rgb(41, 40, 40);
  background-color: rgb(176, 207, 212);
}
button:hover{
  box-shadow: 1px 1px 1px 1px;
}
#button-holder{
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10vh;
}
#poke-img{
  height: 100px;
  width: 100px;
  background-image: url(https://cdn.pixabay.com/photo/2016/08/15/00/50/pokeball-1594373__480.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}